@model BlocketProject.Models.ViewModels.ProfilePageViewModel

<h2>@Model.Heading</h2>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table id="UserTable" style="margin: 30px;">
        <tr>
            <td>
                <img src="@Model.Fbuser.ImageUrl" />
            </td>
        </tr>
        <tr>
            <td>@Model.Fbuser.FirstName @Model.Fbuser.LastName </td>
        </tr>
        <tr>
            <td>
                @Model.Fbuser.Location
            </td>
        </tr>

    </table>
   <b>Skapade annonser: @Model.Fbuser.NumberOfAds</b>
    <table id="UserAds">
        <tr>
         
            @foreach (var ad in Model.ListUserAds)
            {
                <td style="text-align: center; margin: 30px; float: left;">
                    <a href="#">@ad.Title<br /><img src="@ad.ImageUrl" style="height: 100px; width:100px;"></a>
                    <br />
                    <input type="submit" value="Remove" />
                </td>


            }
          
        </tr>
    </table>