@model BlocketProject.Models.ViewModels.ProfilePageViewModel
@using BlocketProject.Helpers
<h2>@Model.Heading</h2>

@if (Model.OtherUser != null)
{

    var otherUserFriends = ConnectionHelper.GetFriendsByUserId(Model.OtherUser.UserId);
    var currentUserFriend = ConnectionHelper.GetFriendsByUserId(ConnectionHelper.GetUserIdByEmail(User.Identity.Name));
    var compare = ConnectionHelper.CompareFriends(otherUserFriends, currentUserFriend);


    <table id="profileTable">
        <tr>
            <td>
                <img src="@Model.OtherUser.ImageUrl" height="300" />
            </td>
        </tr>
        <tr>
            <td>
                <h3>@Model.OtherUser.FirstName @Model.OtherUser.LastName</h3>

                @if (compare.Count() != 0)
                {
                    <h5>
                        <button type="button" class="linkButton commonFriends">@compare.Count() gemensamma vänner.</button>
                    </h5>
                }
                else
                {
                    <h6>Inga gemensamma vänner.</h6>
                }
                @using (Html.BeginForm("NewMessage", "ProfilePage", new { @UserId = Model.OtherUser.UserId }, FormMethod.Post))
                {
                    <button type="submit" id="newMessageButton" class="btn btn-default">Skicka meddelande</button>
                }
                <div class="messagepop pop">


                    <table id="inviteFriendTable">
                        <tr>
                            <td><h3>Gemensamma vänner:</h3></td>
                        </tr>

                        @foreach (var friend in compare)
                        {
                            <tr>
                                <td class="tdBorder">
                                    @using (Html.BeginForm("Index", "ProfilePage", new { @UserId = friend.UserId }, FormMethod.Post))
                                    {
                                        <button type="submit" class="linkButton">
                                            <img src="@friend.ImageUrl" class="inviteFriendImage" /> @friend.FirstName @friend.LastName
                                        </button>
                                    }
                                </td>
                            </tr>
                        }


                        <tr class="inviteButtons">
                            <td>
                                <button class="btn btn-default closeDialog">Stäng</button>
                            </td>
                        </tr>



                    </table>
                </div>
            </td>
        </tr>
    </table>




    <table class="eventListTable">
        @if (Model.ListUserAds != null)
        {


            foreach (var ad in Model.ListUserAds)
            {

                <tr>

                    @using (Html.BeginForm("Index", "AdsPage", new { @EventId = ad.EventId, @message = Model.InvitationMessage, @messageTitle = Model.InvitationMessageTitle }, FormMethod.Post))
                    {

                        <td>
                            <button type="submit" style="border:none; background: none;">
                                <h3>@ad.Title</h3>
                                <img src="@ad.ImageUrl" class="adListImage" />
                            </button>
                        </td>

                    }

                </tr>
                <tr>
                    <td>
                        @ConnectionHelper.GetCountyNameById(ad.CountyId), @ConnectionHelper.GetMunicipalityNameById(ad.MunicipalityId)
                    </td>
                </tr>
                <tr>
                    <td>
                        Gäster: @ConnectionHelper.GetAttendingUsers(@ad.EventId).Count()/@ad.MaxGuests.
                        Söker: @ConnectionHelper.GetGenderName(ad.GenderId)
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (ad.Price != null)
                        {

                            <span>Pris: @ad.Price kr.</span>
                        }


                        <span>@ad.ExpirationDate.Subtract(DateTime.Now).Days dagar kvar.</span>

                    </td>
                </tr>

            }
        }

        else
        {
            <tr>
                <td>
                    <p>Denna användare har inga skapade event.</p>
                </td>
            </tr>
        }

    </table>

}
@if (Model.CurrentUser != null)
{




    <div>
        <table>
            <tr>
                <td>
                    <img src="@Model.CurrentUser.ImageUrl" class="profilepic" id="imageid" height="300" />
                </td>
            </tr>
            <tr>
                <td>
                    @using (Html.BeginForm("EditProfile", "ProfilePage", FormMethod.Post))
                    {
                        <input type="submit" value="Ändra profil" class="btn btn-default" /><br />
                        <button type="button" class="friendsLink linkButton">@ConnectionHelper.GetFriendsByUserId(Model.CurrentUser.UserId).Count() Vänner</button>
                    }
                </td>
            </tr>


        </table>
    </div>



    var friends = ConnectionHelper.GetFriendsByUserId(Model.CurrentUser.UserId);


    <div class="messagepop pop">


        <table id="inviteFriendTable">
            <tr>
                <td><h3>Dina vänner:</h3></td>
            </tr>

            @foreach (var friend in friends)
            {
                <tr>
                    <td class="tdBorder">
                        @using (Html.BeginForm("Index", "ProfilePage", new { @UserId = friend.UserId }, FormMethod.Post))
                        {
                            <button type="submit" class="linkButton">
                                <img src="@friend.ImageUrl" class="inviteFriendImage" /> @friend.FirstName @friend.LastName
                            </button>
                        }
                    </td>
                </tr>
            }

            @if (friends.Count == 0)
            {
                <tr class="inviteButtons">
                    <td>
                        <h5>Du har inga vänner.</h5>
                    </td>
                </tr>

            }

            <tr class="inviteButtons">
                <td>
                    <button class="btn btn-default closeDialog">Stäng</button>
                </td>
            </tr>



        </table>
    </div>

    <table class="profileEventTable">
        @if (Model.ListUserAds != null)
        {


            foreach (var ad in Model.ListUserAds)
            {
                <tr>
                    @using (Html.BeginForm("EventRedirect", "ProfilePage", new { @id = ad.EventId, @message = Model.InvitationMessage, @messageTitle = Model.InvitationMessageTitle }, FormMethod.Post))
                    {
                        <td>
                            <button type="submit" style="border:none; background: none;">
                                <h3>@ad.Title</h3>
                                <img src="@ad.ImageUrl" class="adListImage" /><br />
                                @ConnectionHelper.GetCountyNameById(ad.CountyId), @ConnectionHelper.GetMunicipalityNameById(ad.MunicipalityId)<br />
                                Gäster: @ConnectionHelper.GetAttendingUsers(@ad.EventId).Count()/@ad.MaxGuests.
                                Söker: @ConnectionHelper.GetGenderName(ad.GenderId)<br />
                                @if (ad.Price != null)
                                {

                                    <span>Pris: @ad.Price kr.</span>
                                }
                                <span>@ad.ExpirationDate.Subtract(DateTime.Now).Days dagar kvar.</span>
                            </button>
                        </td>

                    }

                </tr>
              
            }
        }

        else
        {
            <tr>
                <td>
                    <p>Denna användare har inga skapade event.</p>
                </td>
            </tr>
        }

    </table>


}






