@model BlocketProject.Models.ViewModels.ProfilePageViewModel

<h2>@Model.Heading</h2>
@Html.HiddenFor(x => x.CurrentUser.FirstName)
@if (Model.CurrentUser != null)
{
    @Html.HiddenFor(x => x.CurrentUser.FirstName)
    using (Html.BeginForm("EditProfile", "ProfilePage", FormMethod.Post))
    {

    <input type="submit" value="Edit Profile" />

    }
  
  
    <div>
        <img src="@Model.CurrentUser.ImageUrl" class="profilepic" id="imageid" height="300" />
    </div>
    <div>
        <button type="submit" style="border: none; outline: none; background: transparent">
            <img src="~/images/profileMenyIcon.png" class="profilepicmenu" id="showProfile" />
        </button>

    </div>
 
    <div class="projectWrapper">
        <table id="UserTable" style="margin: 30px;">
            <tr>
                <td rowspan="2"></td>
                <td>
                    @Model.CurrentUser.FirstName @Model.CurrentUser.LastName
                </td>
            </tr>
            <tr>
                <td>

                    <img src="~/images/map_pin.png" class="icon" />
                    @Model.CurrentUser.Location
                </td>
                <td>

                    @Model.CurrentUser.Phone
                </td>
            </tr>

        </table>
    </div>

    <table id="UserAds">
        <tr>
            @foreach (var ad in Model.ListUserAds)
            {
                <td style="text-align: center; margin: 30px; float: left;">
                    @using (Html.BeginForm("Index", "AdsPage", new { EventId = ad.EventId }, FormMethod.Post))
                    {
                        <button style="padding: 0; border: none; background: none;" type="submit">
                            @ad.Title
                            <br />
                            <img src="@ad.ImageUrl" class="adImageProfile" /></button>
                    }
                    <br />
                    @using (Html.BeginForm("DeleteEvent", "ProfilePage", new { id = ad.EventId }, FormMethod.Post))
                    {
                        <input type="submit" id="@ad.EventId" value="Remove" />
           
                    }
                </td>
            }

        </tr>
    </table>
}

<script type="text/javascript">
    //Klicka en gång sätt variable värde till true
    // om den är true, så skapa en metod som stänger den.
    $(document).ready(function () {
        $("#UserTable").hide();

    });


    $('#showProfile').click(function () {
        if ($("#UserTable").is(":hidden")) {

            $('#showProfile').animate({ marginLeft: '-10px' });
            $("#UserTable").show(500);

        }
        else if ($("#UserTable").is(":visible")) {
            $('#showProfile').animate({ marginLeft: '-33px' });
            $("#UserTable").hide();
        }


    });



</script>

