@model BlocketProject.Models.ViewModels.UsersOnlineViewModel


<h5>@Model.Heading <b>@Model.RegistredUsers</b></h5>

<div class="Imagefloatleft">
    <b>Females registered: @Model.FemaleUsers</b>
    <img src="@Model.FemaleLogo" class="logo" />
</div>
<div class="Imagefloatright">
    <b>Males registered: @Model.MaleUsers</b>
    <img src="@Model.MaleLogo" class="logo" />

</div>
