@model BlocketProject.Models.ViewModels.SearchPageViewModel

<h2>Search</h2>

@{
    var EventTitle = "";
    var Event = "";
    var userName = "";
}

@if (Model.eventResults.Count != 0 && Model.userResults.Count != 0 && Model.SearchQuery != "" && Model.SearchQuery != null)
{
    if (Model.eventResults.Count != 0)
    {
        <h2>Event:</h2>

        foreach (var _event in Model.eventResults)
        {
            using (Html.BeginForm("EventRedirect", "ProfilePage", new { @id = _event.EventId }, FormMethod.Post))
            {
                if (_event.Title.Contains(Model.SearchQuery))
                {
                    EventTitle = _event.Title.Replace(Model.SearchQuery, "<b>" + Model.SearchQuery + "</b>");
                }
                if (_event.EventDescription.Contains(Model.SearchQuery))
                {
                    Event = _event.EventDescription.Replace(Model.SearchQuery, "<b>" + Model.SearchQuery + "</b>");
                }
                {
                    var formatEventTitle = new MvcHtmlString(EventTitle);
                    var formatEvent = new MvcHtmlString(Event);
                    {
                        Event = "";
                        EventTitle = "";
                    }

                    if (formatEvent != null || formatEvent.ToHtmlString() != "" && formatEventTitle != null || formatEventTitle.ToHtmlString() != "")
                    {
                        <button type="submit" class="linkButton">
                            <h4>@formatEventTitle</h4>
                        </button>
                        <p>@formatEvent</p>

                    }
                    else
                    {
                        <button type="submit" class="linkButton">
                            @if (formatEventTitle != null && formatEventTitle.ToHtmlString() != "")
                            {
                                <h4>@formatEventTitle</h4>
                            }
                            @if (formatEvent != null && formatEvent.ToHtmlString() != "")
                            {
                                <p>@formatEvent</p>
                            }
                            else if (formatEventTitle == null || formatEventTitle.ToHtmlString() == "")
                            {
                                <h4>@_event.Title</h4>
                            }
                            else if (formatEvent == null || formatEvent.ToHtmlString() == "")
                            {
                                <p>@_event.EventDescription</p>
                            }
                        </button>

                    }


                }
            }
        }
    }
    if (Model.userResults.Count != 0)
    {
        <h2>Användare:</h2>
        foreach (var user in Model.userResults)
        {
            using (Html.BeginForm("Index", "ProfilePage", new { @UserId = user.UserId }, FormMethod.Post))
            {
                userName = user.FirstName + " " + user.LastName;
                if (userName.Contains(Model.SearchQuery))
                {
                    var newUserName = userName.Replace(Model.SearchQuery, "<b>" + Model.SearchQuery + "</b>");
                    MvcHtmlString formatUser = new MvcHtmlString(newUserName);
                    <button type="submit" class="linkButton">
                        <h4>@formatUser</h4>
                    </button>
                    userName = "";
                    newUserName = "";
                }
                else
                {
                    <button type="submit" class="linkButton">
                        <h4>@userName</h4>
                    </button>
                }
            }
        }
    }
}
else
{
    <p>Inga sökresultat innehöll "@Model.SearchQuery".</p>
}