@using BlocketProject.Helpers
@{
    BlocketProject.Models.ViewModels.ProfilePageViewModel.UserInformation user = ConnectionHelper.GetUserInformationByEmail(User.Identity.Name);
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width" />
    <title>LetEmSale</title>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link href="~/Style/Custom.css" rel="stylesheet" />
    <link href="~/Style/DatePicker.css" rel="stylesheet" />
</head>

@if (!User.Identity.IsAuthenticated)
{
    <body class="bodyBg">
        <div id="container">
          
                <div id="body">


                    @RenderBody()

                    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
                </div>
            <div id="footer">
                <footer class="footer">
                    <div class="footer-wrap">
                        @*<a href="#">
                            <img src="~/Content/Images/arrownavigate.png" alt="navigate" id="scrollTop" /></a>*@

                        <div class="columnRight">
                            <a href="https://www.facebook.com/alexandervan.helsinghof" target="_blank">Policy</a><br>
                            <a href="https://www.facebook.com/alexandervan.helsinghof" target="_blank">Användarvilkor</a><br>
                            <a href="https://www.linkedin.com/pub/alexander-helsinghof/57/a19/b4b" target="_blank">Cookies</a><br>
                            <a href="http://hiq.se/" target="_blank">Hiq</a>
                            <br />
                            <div class="fb-like" style="color: white;" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                            <div id="fb-root"></div>


                        </div>
                        <div class="column">
                        </div>
                        <div class="columnLeft" id="contact">
                            <p>
                                Explore
                                <br />
                                Search<br />
                                Log in
                            </p>

                        </div>
                    </div>

                </footer>

            </div>
        </div>

    </body>
}
else
{

    <body>

        <div id="header">
            <header>

                @if (User.Identity.IsAuthenticated)
                {
                    <div id="container">

                        <nav class="navbar navbar-default">


                            @using (Html.BeginForm())
                            {
                                Html.RenderMainNavigation(null);

                            }
                            <ul class="nav" id="colNav" style="float: right;">
                                @if (user != null)
                                {

                                    
                                        <li>
                                            <a href="../profilepage" class="profileButton navbar-btn">
                                                @user.FirstName @user.LastName &nbsp;&nbsp;
                                                <img src="@user.ImageUrl" style="width: 30px; height: 30px;" />
                                            </a>
                                        </li>
                                    
                                }

                                <li class="dropdown">
                                    <span class="dropdown-toggle navbar-btn btn btn-default" style="border-color: rgba(0,0,0,0.1)" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-align-justify"></i>
                                    </span>
                                    <ul class="dropdown-menu">
                                        @using (Html.BeginForm("EditProfile", "ProfilePage", FormMethod.Post))
                                        {
                                            <li>
                                                <button type="submit" class="dropdownButton">
                                                    Redigera Profil
                                                </button>
                                            </li>
                                        }
                                        @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                                        {
                                            <li>
                                                <button type="submit" class="dropdownButton" value="Logga ut">
                                                    Logga Ut
                                                </button>

                                            </li>
                                        }

                                    </ul>
                                </li>

                            </ul>




                        </nav>
                    </div>
                }

            </header>

            <div class="projectWrapper">
                <div id="body">

                    @RenderBody()

                    <br />
                    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
                    @RenderSection("scripts", required: false)
                </div>
            </div>
            <div id="footer">
                <footer class="footer">
                    <div class="footer-wrap">
                        @*<a href="#">
                            <img src="~/Content/Images/arrownavigate.png" alt="navigate" id="scrollTop" /></a>*@

                        <div class="columnRight">
                            <a href="https://www.facebook.com/alexandervan.helsinghof" target="_blank">Policy</a><br>
                            <a href="https://www.facebook.com/alexandervan.helsinghof" target="_blank">Användarvilkor</a><br>
                            <a href="https://www.linkedin.com/pub/alexander-helsinghof/57/a19/b4b" target="_blank">Cookies</a><br>
                            <a href="http://hiq.se/" target="_blank">Hiq</a>
                            <br />
                            <div class="fb-like" style="color: white;" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                            <div id="fb-root"></div>


                        </div>
                        <div class="column">
                        </div>
                        <div class="columnLeft" id="contact">
                            <p>
                                Explore
                                <br />
                                Search<br />
                                Log in
                            </p>

                        </div>
                        <div class="clear">&nbsp;</div>
                    </div>
                </footer>
            </div>
        </div>

    </body>
}
</html>


