@model BlocketProject.Models.ViewModels.CreateAdsPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.PropertyFor(x => x.Heading)</h2>
<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>
    tinymce.init({ selector: 'textarea' });
</script>

@using (Html.BeginForm("CreateAd", "CreateAdPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        
        @Html.DropDownList("category", new SelectList(Model.Category, "Key", "Value"), new { placeholder = "adsada", @class = "textfield" })

        @Html.TextBox("email", Model.EmailLabel, new { id = "email", @class = "textfield", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id); emailkoll()", @onkeypress = "change(id)" })

        @Html.TextBox("phone", Model.Phonelabel, new { id = "phone", @class = "textfield", @onclick = "textfieldpressed(id)", @onfocus = "this.style.background = '#fff'", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'", @onkeypress = "change(id)" })
        <br />

        @Html.TextBox("title", Model.TitleLabel, new { id = "title", @class = "textfield", style = "margin-top:50px", @onfocus = "this.style.background = '#fff'", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'", @onkeypress = "change(id)" })

        @Html.TextBox("price", Model.PriceLabel, new { id = "price", @class = "textfield", style = "margin-top:50px", @onfocus = "this.style.background = '#fff'", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'", @onkeypress = "change(id)" })
        <br />
       
        @Html.TextArea("text", new { id = "text", @class = "textfieldBig", @onfocus = "this.style.background = '#fff', this.value = ''", @onclick = "textfieldbigpressed()", @onblur = "textfieldbigblur(), this.style.background = '#ECF7FB'" })
        <br />

        <form>
            <a href="#" id="browse">Välj fil</a>
            <div id="wrapper">
                <input type="file" size="1" name="file" id="wrapper" />
            </div>
        </form>

        <br />
        <br />
        <br />
        <input type="submit" class="button" value="Ladda upp" />

        <b>@Model.ErrorMessage</b>

    </div>

}
