@model BlocketProject.Models.ViewModels.CreateAdsPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/Scripts/jquery-1.10.1.js"></script><script src="/Scripts/jquery.validate.js"></script><script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>@Html.PropertyFor(x => x.Heading)</h2>


@using (Html.BeginForm("CreateAd", "CreateAdPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   
    <br />
    <b>@Html.PropertyFor(x => x.EmailLabel, new { id = "email" })</b>
    @Html.TextBox("email")
    <br />
    <b>@Html.PropertyFor(x => x.Phonelabel, new { id = "phone" })</b>
    @Html.TextBox("phone")
    <br />
@*
    <b>@Html.PropertyFor(x => x.CategoryLabel)</b>*@
    //todo skapa dropdownlist från databas

    <b>@Html.PropertyFor(x => x.TitleLabel)</b>
    @Html.TextBox("title")
    <br />
 
    @Html.TextArea("text", new { id = "text" })
    <b>@Html.PropertyFor(x => x.DescriptionLabel)</b>
    <br />
    <input type="file" name="file" id="file" style="width: 100%;" /> 
    <br />
    <input type="submit" value="@Model.ButtonLabel" />
    <b>@Model.ErrorMessage</b>
}
