@model BlocketProject.Models.ViewModels.CreateAdsPageViewModel

<div class="createEvent">
    <h2>@Html.PropertyFor(x => x.Heading)</h2>
    @Html.HiddenFor(x => x.ErrorMessage)


    @Html.HiddenFor(x => x.CreateEvent.SelectedGender)
    @Html.HiddenFor(x => x.CreateEvent.SelectedCategory)
    @Html.HiddenFor(x => x.CreateEvent.SelectedCounty)
    @Html.HiddenFor(x => x.CreateEvent.SelectedMunicipality)
    @Html.HiddenFor(x => x.DateLabel)
    @Html.HiddenFor(x => x.EmailLabel)
    @Html.HiddenFor(x => x.ButtonLabel)
    @Html.HiddenFor(x => x.CategoryLabel)
    @Html.HiddenFor(x => x.Heading)
    @Html.HiddenFor(x => x.PersonLabel)
    @Html.HiddenFor(x => x.NameLabel)
    @Html.HiddenFor(x => x.Phonelabel)
    @Html.HiddenFor(x => x.PriceLabel)
    @Html.HiddenFor(x => x.TextLabel)
    @Html.HiddenFor(x => x.EventLabel)
    @Html.HiddenFor(x => x.UploadImageLabel)
    @Html.HiddenFor(x => x.ErrorMessage)
    @Html.HiddenFor(x => x.EventLabel)



    <h4 style="color: red">@Html.ValidationSummary()</h4>

    @using (Html.BeginForm("Index", "CreateAdPage", FormMethod.Post, new { enctype = "multipart/form-data", language = EPiServer.Globalization.ContentLanguage.PreferredCulture.Name }))
    {
        <div>
            <table>
                <tr>
                    <td>
                        @Html.Label("Personlig information", new { @class = "labeledit" })

                    </td>
                    <td>

                        @Html.TextBoxFor(x => x.CreateEvent.Email, null, new { @class = "textfield mail" })

                        @Html.TextBoxFor(x => x.CreateEvent.Phone, null, new { @class = "textfield phone" })

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Dölj viktig information för andra användare?", new { @class = "labeledit" })

                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.CreateEvent.HideInformation, new { id = "hideinformation", @class = "checkbox" })

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Vilka typ av gäster får komma och vad är det för fest?", new { @class = "labeledit" })

                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.CreateEvent.SelectedGender, new SelectList(Model.CreateEvent.Genders, "Key", "Value"), new { id = "gender", @class = "textfield" })
                        @Html.DropDownListFor(x => x.CreateEvent.SelectedCategory, new SelectList(Model.CreateEvent.Category, "Key", "Value"), new { id = "category", @class = "textfield" })

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.Label("Vart håller festen till?", new { @class = "labeledit" })

                    </td>
                    <td>

                        @Html.DropDownListFor(x => x.CreateEvent.SelectedCounty, new SelectList(Model.CreateEvent.County, "Key", "Value"), "Välj län", new { id = "counties", @class = "textfield" })
                        @Html.DropDownListFor(x => x.CreateEvent.SelectedMunicipality, new SelectList(Model.CreateEvent.Municipality, "Key", "Value"), "Välj kommun", new { id = "municipality", @class = "textfield" })

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.Label("Hur många får komma?", new { @class = "labeledit" })

                    </td>
                    <td>

                        @Html.TextBoxFor(x => x.CreateEvent.MaxGuests, null, new { @class = "textfield" })

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.Label("Skriv lite om ditt evenemang", new { @class = "labeledit" })

                    </td>
                    <td>

                        @Html.TextBoxFor(x => x.CreateEvent.EventTitle, null, new { @class = "textfield" })


                        @Html.TextAreaFor(x => x.CreateEvent.Text, new { @class = "textarea" })

                    </td>
                </tr>
                <tr>
                    <td>

                        @Html.Label("Övrig information", new { @class = "labeledit" })

                    </td>
                    <td>

                        @Html.TextBoxFor(x => x.CreateEvent.Price, null, new { @class = "textfield" })
                        @Html.TextBoxFor(x => x.CreateEvent.Date, null, new { @onclick = "datepicker()", @class = "datepicker textfield" })

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Ladda upp bild", new { @class = "labeledit" })
                    </td>
                    <td>

                        <div class="image-upload">
                            <label for="file">
                                <img src="@Model.DefaultImage" width="300"id="imagefile" />
                            </label>

                            <input id="file" type="file" name="file" />
                        </div>

                    </td>
                </tr>
            </table>
        </div>
       
        <input type="submit" class="btnEvent" value="@Model.ButtonLabel" />

    }
</div>

<script type="text/javascript">
  
    @*    $(document).ready(function () {
        $('#@Model.PriceLabel').hide();

        $("#category").change(function () {
            var value = $('#category :selected').text();
            if (value == "Lokalfest") {
                $('#@Model.PriceLabel').show();
            }
            else {

                $('#@Model.PriceLabel').hide();
            }

        });
    });*@
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagefile').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file").change(function () {
        readURL(this);
    });

</script>
