@model BlocketProject.Models.ViewModels.CreateAdsPageViewModel
<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.PropertyFor(x => x.Heading)</h2>

<div class="">
    @using (Html.BeginForm("CreateAd", "CreateAdPage", FormMethod.Post, new { enctype = "multipart/form-data", language = EPiServer.Globalization.ContentLanguage.PreferredCulture.Name }))
    {
        <div>

            @Html.TextBoxFor(x => x.EmailLabel, new { id = Model.EmailLabel, @class = "textfield mail", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id); emailkoll()", @onkeypress = "change(id)" })


            @Html.TextBoxFor(x => x.CreateEvent.Phone, new { id = Model.Phonelabel, @class = "textfield phone", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id); emaikoll()", @onkeypress = "change(id)" })

            <br />
            @Html.TextBoxFor(x => x.CurrentUser.Location, new { id = Model.CreateEvent.Adress, @class = "textfield", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id); emailkoll()", @onkeypress = "change(id)" })


            @Html.TextBoxFor(x => x.CreateEvent.ZipCode, new { id = Model.CreateEvent.ZipCode, @class = "textfield", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id); emaikoll()", @onkeypress = "change(id)" })

            <br />
            <h3>Typ av gäster och typ av fest?</h3>
            @Html.DropDownListFor(x => x.CreateEvent.SelectedGender, new SelectList(Model.CreateEvent.Genders, "Key", "Value"), new { placeholder = "", @class = "textfield", id = Model.CreateEvent.Genders })
            @Html.DropDownListFor(x => x.CreateEvent.SelectedCategory, new SelectList(Model.CreateEvent.Category, "Key", "Value"), new { placeholder = "", @class = "textfield", id = Model.CreateEvent.Genders })

            <br />
            <h3>Vart håller festen till?</h3>
            @Html.DropDownListFor(x => x.CreateEvent.SelectedCounty, new SelectList(Model.CreateEvent.County, "Key", "Value"), "Välj län", new { placeholder = "", @class = "textfield", id = "counties" })
            @Html.DropDownListFor(x => x.CreateEvent.SelectedMunicipality, new SelectList(Model.CreateEvent.Municipality, "Key", "Value"), "Välj kommun", new { id = "municipality", @class = "textfield" })
            <br />
            <h3>Hur många får komma?</h3>
            @Html.TextBoxFor(x => x.LabelPerson, new { id = Model.LabelPerson, @class = "textfield", @onfocus = "this.style.background = '#fff'", @onclick = "textfieldpressed(id);ensureNumeric(arguments[0] || this);", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'", @onkeypress = "change(id)" })
            <br />

            <h3>Skriv lite om ditt evenemang</h3>
            @Html.TextBoxFor(x => x.CreateEvent.Price, new { id = Model.PriceLabel, @class = "textfield", @onfocus = "this.style.background = '#fff'", @onclick = "textfieldpressed(id);", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'", @onkeypress = "ensureNumeric(arguments[0] || this);" })
            @Html.TextBoxFor(x => x.DateLabel, new { id = "datepicker", @class = "textfield", @onfocus = "this.style.background = '#fff'", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'"})
            <br />
            @Html.TextBoxFor(x => x.CreateEvent.AdTitle, new { id = Model.TitleLabel, @class = "textfield", @onfocus = "this.style.background = '#fff'", @onclick = "textfieldpressed(id)", @onblur = "textfieldblur(id), this.style.background = '#ECF7FB'", @onkeypress = "change(id)" })

            <br />
            @Html.TextAreaFor(x => x.CreateEvent.Text, new { id = Model.TextLabel, @class = "textarea", @onfocus = "this.style.background = '#fff', this.value = ''", @onclick = "textareapressed()", placeholder = "Text", @onblur = "textareablur(), this.style.background = '#ECF7FB'" })
            <input type='file' id="file" name="file" />
            <img id="imagefile" src="@Model.DefaultImage" alt="your image" />

        </div>
        <br />
        <input type="submit" class="button" value="@Model.ButtonLabel" />
        <br />
        <br />
    }
</div>
<script type="text/javascript">
    @*    $(document).ready(function () {
        $('#@Model.PriceLabel').hide();

        $("#category").change(function () {
            var value = $('#category :selected').text();
            if (value == "Lokalfest") {
                $('#@Model.PriceLabel').show();
            }
            else {

                $('#@Model.PriceLabel').hide();
            }

        });
    });*@

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagefile').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file").change(function () {
        readURL(this);
    });
</script>
