@model BlocketProject.Models.Blocks.VideoBlock
@{
    Layout = null;
}

<link rel="~/Style/Custom.css" type="text/css" />
<script src="http://jwpsrv.com/library/xp0lYIyzEeOSuyIACrqE1A.js"></script>
<meta name="viewport" content="width=device-width" />
@{
    string containerId = "video-container-" + (((EPiServer.Core.IContent)Model).ContentGuid + DateTime.Now.Ticks.ToString()).GetHashCode();
}
<div class="videoblock">

    @if (@Model.ShowTitle)
    {
        <h1>@Html.PropertyFor(p => p.Title)</h1>
    }

    <div id="@containerId"></div>
    <script type='text/javascript'>
        jwplayer('@containerId').setup({
            file: '@Model.VideoFile',
            image: '@Model.Image',
            width: '@Model.VideoWidth%',
            aspectratio: '16:9',
            autostart: '@Model.Autoplay',
            primary: 'flash',
            icons: 'false',

        });
    </script>
</div>


