@model  BlocketProject.Models.ViewModels.AdsPageViewModel.UserAdsModel
@{
    ViewBag.Title = "AdPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdPage</h2>

@Model.Title
@Model.AdDescription
@Model.CategoryId
@Model.Price
@Model.SubCategoryId
@Model.PublishDate
@Model.ExpirationDate
