@model  BlocketProject.Models.ViewModels.AdsPageViewModel.UserAdsModel
@{
    ViewBag.Title = "AdPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdPage</h2>

@Model.Title<br />
@Model.AdDescription<br />
@Model.CategoryId<br />
@Model.Price<br />
@Model.SubCategoryId<br />
@Model.PublishDate<br />
@Model.ExpirationDate<br />
