@model BlocketProject.Models.ViewModels.AdsPageViewModel
@using BlocketProject.Helpers


<link href="~/Content/Teststyle.css" rel="stylesheet" />

<h2>@Model.Heading</h2>
@if (Model.UserEventModel == null)
{
    <ul style="list-style: none;">
        @if (Model.CurrentUserAds)
        {
            foreach (var ad in Model.ListCurrentUserAdsModel)
            {
                <li>
                    <h3>@ad.Title</h3>
                    <br />
                    <img src="@ad.ImageUrl" width="150" alt="" /><br />
                    <p>@ad.EventDescription</p>
                    <br />
                    <p>Pris: @ad.Price kr</p>
                    <p>Skapad: @ad.PublishDate.ToString()</p>
                    <p>Går ut: @ad.ExpirationDate.ToString()</p>
                </li>

            }
        }
        else
        {
            foreach (var ad in Model.ListUserAdsModel)
            {

                <li>
                    @using (Html.BeginForm("Index", "AdsPage", new { @EventId = ad.EventId }, FormMethod.Post))
                    {
                        <button type="submit" style="border:none; background: none;">
                            <h3>@ad.Title</h3>
                            <br />
                            <img src="@ad.ImageUrl" width="150" alt="" /><br />
                            <p>@ad.EventDescription</p>
                            <br />
                            <p>Pris: @ad.Price kr</p>
                            <p>Datum: @ad.PublishDate.ToShortDateString()</p>
                        </button><br />
                    }
                    @using (Html.BeginForm("ProfileRedirect", "ProfilePage", new { id = ad.UserId }, FormMethod.Post))
                    {
                        <b>Annons av: <button class="linkButton">@BlocketProject.Helpers.ConnectionHelper.GetUserName(ad.UserId)</button></b>
                    }
                </li>


            }

        }

    </ul>

}

else
{
    <div class="fullEvent">

        <div class="eventImage" style="float: left;">
            <img src="@Model.UserEventModel.ImageUrl" style="max-width: 300px; float: left;" />
            <h1><span>@Model.UserEventModel.Title</span></h1>
        </div>
        @if (User.Identity.Name == Model.User.Email)
        {
            <div class="eventOptions" style="float: left; margin-left: 30px; border: 2px solid black; width: 150px; height: 150px;">
                <ul style="margin: 0; list-style: none;">
                    @using (Html.BeginForm("Invite", "AdsPage", new { @UserId = ConnectionHelper.GetUserIdByEmail(User.Identity.Name),@EventId = Model.UserEventModel.EventId, @class = "InvitePopup" }, FormMethod.Post))
                    {
                        <li><button type="submit" class="linkButton">Bjud in</button></li>
                    }
                    <li><button type="submit" class="linkButton InvitePopup">Bjud in</button></li>
                    <li><button type="submit" class="linkButton">Bjud in</button></li>
                    <li><button type="submit" class="linkButton">Bjud in</button></li>
                    <li><button type="submit" class="linkButton">Bjud in</button></li>

                </ul>
            </div>
        }
        <script type="text/javascript">
            $(function () {
                $('.InvitePopup').click(function () {
                    $('<div />').appendTo('body').dialog({
                        close: function (event, ui) {
                            dialog.remove();
                        },
                        modal: true
                    }).load(this.href, {});

                    return false;
                });
            });
        </script>

        <div class="guestList" style="float: left; width: 390px; border: 2px solid black; height: 600px; margin-left: 30px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#pane1" data-toggle="tab">Kommer</a></li>
                <li><a href="#pane2" data-toggle="tab">Kanske</a></li>
                <li><a href="#pane3" data-toggle="tab">Förfrågningar</a></li>
                <li><a href="#pane4" data-toggle="tab">Inbjudna</a></li>
            </ul>
            <div class="tab-content">
                <div id="pane1" class="tab-pane active">
                    @Html.Partial("AttendingList")
                </div>
                <div id="pane2" class="tab-pane">
                    @Html.Partial("MaybeAttendingList")
                </div>
                <div id="pane3" class="tab-pane">
                    @Html.Partial("PendingList")
                </div>
                <div id="pane4" class="tab-pane">
                    @Html.Partial("InvitedList")
                </div>
            </div>
        </div>

        <div class="eventInformation" style="float: left; margin-top: 20px; position: relative; bottom: 300px;">
            <h1>@Model.UserEventModel.Title</h1>
            <p>@Model.UserEventModel.EventDescription</p>
            <p>@ConnectionHelper.GetAttendingUsers(Model.UserEventModel.EventId).Count()/@Model.UserEventModel.MaxGuests kommer.</p>
            <p>
                <b>Var?</b><br />
                @ConnectionHelper.GetCountyNameById(Model.UserEventModel.CountyId), @ConnectionHelper.GetMunicipalityNameById(Model.UserEventModel.MunicipalityId)
                <br /><b>När?</b><br />
                @Model.UserEventModel.ExpirationDate.ToShortDateString()
            </p>


        </div>
    </div>
}




