@model BlocketProject.Models.ViewModels.AdsPageViewModel
@using BlocketProject.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Teststyle.css" rel="stylesheet" />

<div class="projectWrapper">
    <h2>@Model.Heading</h2>
    @if (Model.UserEventModel == null)
    {
        <ul>
            @if (Model.CurrentUserAds)
            {
                foreach (var ad in Model.ListCurrentUserAdsModel)
                {
                <li>
                    <h3>@ad.Title</h3>
                    <br />
                    <img src="@ad.ImageUrl" width="150" alt="" /><br />
                    <p>@ad.EventDescription</p>
                    <br />
                    <p>Pris: @ad.Price kr</p>
                    <p>Skapad: @ad.PublishDate.ToString()</p>
                    <p>Går ut: @ad.ExpirationDate.ToString()</p>

                </li>

                }
            }
            else
            {
                foreach (var ad in Model.ListUserAdsModel)
                {
                <li>
                    <h3>@ad.Title</h3>
                    <br />
                    <img src="@ad.ImageUrl" width="150" alt="" /><br />
                    <p>@ad.EventDescription</p>
                    <br />
                    <p>Pris: @ad.Price kr</p>
                    <p>Datum: @ad.PublishDate.ToShortDateString()</p>
                    <b>Annons av: <a href="#">@BlocketProject.Helpers.ConnectionHelper.GetUserName(ad.UserId)</a></b>

                </li>

                }

            }

        </ul>

    }

    else
    {
        <img src="@Model.UserEventModel.ImageUrl" style="float: left; margin-left: 25px; margin-right: 25px; border-radius: 12px;"/>
        <div style="border: 2px solid gray; float: left; border-radius: 12px;">
            <a href="#">Redigera event</a><br />
            <a href="#">Bjud in gäster</a><br />
            <a href="#">Ta bort</a><br />
        </div>
        <br />
        <h3>@Model.UserEventModel.Title</h3>
        <br />
        <p>@Model.UserEventModel.EventDescription</p>
        <br />
        <p>@ConnectionHelper.GetAttendingUsers(Model.UserEventModel.EventId).Count()/@Model.UserEventModel.MaxGuests</p>
        
        
        
    }

</div>
