@model BlocketProject.Models.ViewModels.AdsPageViewModel
@using BlocketProject.Helpers


<link href="~/Content/Teststyle.css" rel="stylesheet" />

<h2>@Model.Heading</h2>
@if (Model.UserEventModel == null)
{
    <ul id="adList" style="list-style: none;">
        @if (Model.CurrentUserAds)
        {
            foreach (var ad in Model.ListCurrentUserAdsModel)
            {
                <li>
                    <h3>@ad.Title</h3>
                    <br />
                    <img src="@ad.ImageUrl" width="150" alt="" /><br />
                    <p>@ad.EventDescription</p>
                    <br />
                    <p>Pris: @ad.Price kr</p>
                    <p>Skapad: @ad.PublishDate.ToString()</p>
                    <p>Går ut: @ad.ExpirationDate.ToString()</p>
                </li>

            }
        }

        else
        {
            foreach (var ad in Model.ListUserAdsModel)
            {

                <li>
                    @using (Html.BeginForm("Index", "AdsPage", new { @EventId = ad.EventId }, FormMethod.Post))
                    {
                        <button type="submit" style="border:none; background: none;">
                            <h3>@ad.Title</h3>
                            <img src="@ad.ImageUrl" class="adListImage" />
                            @if (ad.EventDescription.Count() > 80)
                            {

                            }
                            else
                            {
                                <p>@ad.EventDescription</p>
                            }
                            <p>Pris: @ad.Price kr</p>
                            <p>Datum: @ad.PublishDate.ToShortDateString()</p>
                        </button>
                    }
                    @using (Html.BeginForm("ProfileRedirect", "ProfilePage", new { id = ad.UserId }, FormMethod.Post))
                    {
                        {
                            var user = ConnectionHelper.GetUserInformationByUserId(ad.UserId);

                            <b>Skapad av: <button class="linkButton">@user.FirstName @user.LastName</button></b>
                        }
                    }
                </li>


            }

        }

    </ul>

}

else
{
    <div class="fullEvent">

        <div class="eventImage" style="float: left;">
            <img src="@Model.UserEventModel.ImageUrl" style="max-width: 300px; float: left;" />
            <h1><span>@Model.UserEventModel.Title</span></h1>
        </div>
        @if (User.Identity.Name == Model.User.Email)
        {
            <div class="eventOptions" style="float: left; margin-left: 30px; border: 2px solid black; width: 150px; height: 150px;">
                <ul style="margin: 0; list-style: none;">
                    <li><button type="submit" class="linkButton InvitePopup">Bjud in</button></li>
                    <li><button type="submit" class="linkButton">Annat</button></li>
                    <li><button type="submit" class="linkButton">Annat</button></li>
                    <li><button type="submit" class="linkButton">Annat</button></li>
                    <li><button type="submit" class="linkButton">Annat</button></li>

                </ul>
            </div>

            {
                var checkFriends = ConnectionHelper.GetFriendsByUserId(Model.UserEventModel.UserId);
                var friends = new List<BlocketProject.Models.DbClasses.DbUserInformation>();


                <div class="messagepop pop">


                    <table id="inviteFriendTable">
                        <tr>
                            <td><h3>Bjud in vänner:</h3></td>
                        </tr>
                        @foreach (var friend in checkFriends)
                        {
                            var check = ConnectionHelper.CheckInvitableFriends(friend.UserId, Model.UserEventModel.EventId);
                            if (check == true)
                            {
                                friends.Add(friend);
                            }

                        }


                        @using (Html.BeginForm("InviteFriends", "AdsPage", new { @eventId = Model.UserEventModel.EventId, @userId = Model.UserEventModel.UserId }, FormMethod.Post))
                        {
                            foreach (var friend in friends)
                            {
                                <tr>
                                    <td class="tdBorder">
                                        <input type="checkbox" name="selectedList" value="@friend.UserId" />
                                        <img src="@friend.ImageUrl" class="inviteFriendImage" /> @friend.FirstName @friend.LastName
                                    </td>
                                </tr>
                            }

                            if (friends.Count == 0)
                            {
                                <tr class="inviteButtons">
                                    <td>
                                        <h5>Du har inga vänner som du kan bjuda in.<br />Kontrollera att dina vänner inte redan deltar i evenemanget.</h5>
                                    </td>
                                </tr>
                                <tr class="inviteButtons">
                                    <td>
                                        <button class="btn btn-default closeDialog">Stäng</button>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="inviteButtons">
                                    <td>
                                        <button type="submit" class="btn btn-default">Skicka</button>
                                        <button class="btn btn-default closeDialog">Avbryt</button>
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                </div>

            }
        }

        <script type="text/javascript">
            function deselect(e) {
                $('.pop').slideFadeToggle(function () {
                    e.removeClass('selected');
                });
            }

            $(function () {
                $('.InvitePopup').on('click', function () {
                    if ($(this).hasClass('selected')) {
                        deselect($(this));
                    } else {
                        $(this).addClass('selected');
                        $('.pop').slideFadeToggle();
                    }
                    return false;
                });

                $('.closeDialog').on('click', function () {
                    deselect($('.InvitePopup'));
                    return false;
                });
            });

            $.fn.slideFadeToggle = function (easing, callback) {
                return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
            };
        </script>


        <div class="guestList" style="float: left; width: 390px; border: 2px solid black; height: 600px; margin-left: 30px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#pane1" data-toggle="tab">Kommer</a></li>
                <li><a href="#pane2" data-toggle="tab">Kanske</a></li>
                <li><a href="#pane3" data-toggle="tab">Förfrågningar</a></li>
                <li><a href="#pane4" data-toggle="tab">Inbjudna</a></li>
            </ul>
            <div class="tab-content">
                <div id="pane1" class="tab-pane active">
                    @Html.Partial("AttendingList")
                </div>
                <div id="pane2" class="tab-pane">
                    @Html.Partial("MaybeAttendingList")
                </div>
                <div id="pane3" class="tab-pane">
                    @Html.Partial("PendingList")
                </div>
                <div id="pane4" class="tab-pane">
                    @Html.Partial("InvitedList")
                </div>
            </div>
        </div>

        <div class="eventInformation" style="float: left; margin-top: 20px; position: relative; bottom: 300px;">
            <h1>@Model.UserEventModel.Title</h1>
            <p>@Model.UserEventModel.EventDescription</p>
            <p>@ConnectionHelper.GetAttendingUsers(Model.UserEventModel.EventId).Count()/@Model.UserEventModel.MaxGuests kommer.</p>
            <p>
                <b>Var?</b><br />
                @ConnectionHelper.GetCountyNameById(Model.UserEventModel.CountyId), @ConnectionHelper.GetMunicipalityNameById(Model.UserEventModel.MunicipalityId)
                <br /><b>När?</b><br />
                @Model.UserEventModel.ExpirationDate.ToShortDateString()
            </p>


        </div>
    </div>
}




