@model BlocketProject.Models.ViewModels.AdsPageViewModel
@using BlocketProject.Helpers

<table class="statusTable">
    @if (Model.ListInvitedUsers.Count() != 0)
    {
        foreach (var user in Model.ListInvitedUsers)
        {
            if (!Model.ListAttendingUsers.Contains(user) && !Model.ListMaybeAttendingUsers.Contains(user) && !Model.ListPendingUsers.Contains(user) && !Model.ListNotAttendingUsers.Contains(user))
            {
                <tr>
                    <td>


                        @using (Html.BeginForm("Index", "ProfilePage", new { @UserId = user.UserId }, FormMethod.Post))
                        {
                            <button type="submit" class="linkButton">
                                <img src="@user.ImageUrl" />
                                @user.FirstName @user.LastName
                            </button>
                        }

                        @{
                             var invitee = ConnectionHelper.GetInvitee(user.UserId);
                        }

                        @using (Html.BeginForm("Index", "ProfilePage", new { @UserId = invitee.UserId }, FormMethod.Post))
                        {
                            <span>Inbjuden av: </span><button type="submit" class="linkButton noFloat">@invitee.FirstName @invitee.LastName</button>
                        }
                        @if (user.Email == User.Identity.Name)
                        {
                            if (Model.ListAttendingUsers.Count() < Model.UserEventModel.MaxGuests)
                            {


                                using (Html.BeginForm("SetAttendingStatus", "AdsPage", new { @UserId = user.UserId, @EventId = Model.UserEventModel.EventId }, FormMethod.Post))
                                {
                                    <button class="btn btn-default LeftButton statusButton">Kommer</button>
                                }
                                using (Html.BeginForm("SetMaybeAttendingStatus", "AdsPage", new { @UserId = user.UserId, @EventId = Model.UserEventModel.EventId }, FormMethod.Post))
                                {
                                    <button class="btn btn-default LeftButton statusButton">Kanske</button>
                                }
                                using (Html.BeginForm("RemoveAttendingStatus", "AdsPage", new { @UserId = user.UserId, @EventId = Model.UserEventModel.EventId }, FormMethod.Post))
                                {
                                    <button class="btn btn-default LeftButton statusButton">Kommer inte</button>
                                }

                            }
                            else
                            {
                                <p>Eventet är fullt.</p>
                            }

                        }


                    </td>
                </tr>
            }

        }
    }
    else
    {
        <tr>
            <td>
                Inga gäster har blivit inbjudna.
            </td>
        </tr>
    }

</table>
